@tailwind base;
@tailwind components;
@tailwind utilities;



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE / old Edge */
body {
    -ms-overflow-style: none;
}

.circle-btn {
    @apply w-10 h-10 flex items-center justify-center rounded-full border border-blue-400 text-blue-600 hover:bg-blue-50 transition;
}
