@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- SHADCN VARIABLES ---------- */

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
    }
}



/* Chrome, Edge, Safari */
/*::-webkit-scrollbar {
    display: none;
}*/

/* Firefox */
/*html {
    scrollbar-width: none;
}*/

/* IE / old Edge */
/*body {
    -ms-overflow-style: none;
}

.circle-btn {
    @apply flex h-10 w-10 items-center justify-center rounded-full border border-blue-400 text-blue-600 transition hover:bg-blue-50;
}*/
