@tailwind base;
@tailwind components;
@tailwind utilities;



/* Chrome, Edge, Safari */
/*::-webkit-scrollbar {
    display: none;
}*/

/* Firefox */
/*html {
    scrollbar-width: none;
}*/

/* IE / old Edge */
/*body {
    -ms-overflow-style: none;
}

.circle-btn {
    @apply flex h-10 w-10 items-center justify-center rounded-full border border-blue-400 text-blue-600 transition hover:bg-blue-50;
}*/
